@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

:root {
  font-family: 'Bungee Inline', cursive;
}

body {
  margin: 0;
  padding: 0;
}